<template>
  <div>
    <v-dialog v-if="dialog" v-model="dialog" max-width="500px" transition="dialog-transition">
      <v-card tile>
        <v-card-title>Recuperar contraseña</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-row>
            <v-col cols="12">
              <v-text-field v-model="correo" label="Correo"></v-text-field>
              <p class="overline">Ingresa tu correo y nos pondremos en contacto</p>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn tile color="error" large @click="dialog = false; correo = ''">Cancelar</v-btn>
          <v-btn tile color="primary" large>Enviar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-container fill-height>
      <v-row class="justify-center text-center">
        <v-col cols="12">
          <h1>Sistema de trazabilidad</h1>
        </v-col>
        <v-col cols="12" md="4">
          <v-card outlined tile>
            <v-card-title class="justify-center">Iniciar Sesión</v-card-title>
            <v-divider></v-divider>
            <v-card-text class="px-5">
              <img alt="Vue logo" src="../assets/logo.png" />
              <v-form>
                <v-text-field label="Usuario"></v-text-field>
                <v-text-field type="password" label="Contraseña"></v-text-field>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-btn :to="{name: 'home'}" tile color="primary" block>Entrar</v-btn>
            </v-card-actions>
            <v-card-actions class="justify-center">
              <v-btn text color="primary" @click="dialog = true" small>¿Olvido su Contraseña?</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      usuario: "",
      password: "",
      correo: "",
      dialog: false
    };
  }
};
</script>