<template>
  <div>
    <v-dialog v-if="dialog" v-model="dialog" max-width="500px" transition="dialog-transition">
      <v-card tile>
        <v-card-title>Cambiar contraseña</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-row>
            <v-col cols="12">
              <v-text-field label="Contraseña actual"></v-text-field>
              <v-text-field label="Contraseña nueva"></v-text-field>
              <v-text-field label="Repita contraseña"></v-text-field>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn tile color="error" large @click="dialog = false">Cancelar</v-btn>
          <v-btn tile color="primary" large>Enviar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-app-bar clipped-left app flat outlined>
      <v-avatar size="40" tile class="mr-3">
        <img alt="Vue logo" src="https://cecjecuador.org.ec/wp-content/uploads/2020/02/urocal.jpg" />
      </v-avatar>
      <v-toolbar-title v-if="this.$vuetify.breakpoint.smAndUp">Sistema de trazabilidad</v-toolbar-title>
      <v-spacer></v-spacer>
      <div>
        <span class="overline mr-2">{{fullName}}</span>
        <v-menu offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon small v-bind="attrs" v-on="on">
              <v-icon>mdi-dots-vertical</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item>
              <v-list-item-title>Perfil</v-list-item-title>
            </v-list-item>
            <v-list-item @click="dialog = true">
              <v-list-item-title>Cambiar contraseña</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </div>
    </v-app-bar>
  </div>
</template>

<script>
export default {
  name: "NavBar",
  data() {
    return {
      dialog: false,
      usuario: {
        nombre: "Amelia",
        apellido: "Labanda"
      }
    };
  },
  computed: {
    fullName() {
      return `${this.usuario.nombre} ${this.usuario.apellido}`;
    }
  }
};
</script>

<style>
</style>