<template>
  <v-navigation-drawer clipped app>
    <v-list>
      <v-list-item-group active-class="primary--text">
        <v-list-item class="justify-center">
          <v-list-item-avatar size="120" class="mx-0">
            <img alt="Vue logo" :src="usuario.foto" />
          </v-list-item-avatar>
        </v-list-item>
        <v-list-item class="text-center">
          <v-list-item-content>
            <v-list-item-title>{{usuario.nombre}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item v-for="(item, index) in items" :key="index" :to="item.ruta">
          <v-list-item-icon v-if="item.icono">
            <v-icon>{{ item.icono }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ item.texto }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
    <template v-slot:append>
      <div>
        <v-btn :to="{name: 'login'}" tile block color="red lighten-4 red--text">Salir</v-btn>
      </div>
    </template>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: "Navigation",
  data() {
    return {
      usuario: {
        nombre: "Usuario",
        foto:
          "https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png",
      },
      items: [
        {
          texto: "Registrar Trazabilidad",
          icono: "mdi-clipboard-plus",
          ruta: "/",
        },
        {
          texto: "Consultar Trazabilidad",
          icono: "mdi-text-search",
        },
        {
          texto: "Visualizar Registros",
          icono: "mdi-table-headers-eye",
        },
      ],
    };
  },
};
</script>