<template>
  <v-app>
    <Navigation v-if="canAppear" />
    <Navbar v-if="canAppear" />
    <v-main class="blue lighten-5">
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import Navbar from "@/components/Navbar.vue";
import Navigation from "@/components/Navigation.vue";

export default {
  name: "App",
  components: {
    Navbar,
    Navigation
  },
  computed: {
    canAppear() {
      if (this.$route.name === "login") return false;
      return true;
    }
  }
};
</script>

<style>
</style>